* {
    box-sizing: border-box;
}

body {
    background-color: rgb(51, 69, 107);
}

h1 {
    color: navajowhite;
}

.task-btn {
    
    height: 26px;
    line-height: 26px;
    padding: 3px 6px;
    font-size: 10px;
    margin: -10px 3px 0 0;
}

.blue {
    background-color: rgb(32, 32, 88);
    margin-right: 15px;
}