{% extends "base.html" %} {% block content %}

<section
  class="portfolio-form d-flex justify-content-center align-items-center"
>
  <div class="container">
    <h2 class="text-center form-heading">Add A Portfolio</h2>
    <div class="row w-75 mx-auto">
      <div class="col-md-12 col-lg-4 form-img">
        <img
          src="https://images.unsplash.com/photo-1556155092-8707de31f9c4?ixlib=rb-1.2.1&auto=format&fit=crop&w=1268&q=80"
          alt=""
          class="img-fluid rounded"
        />
      </div>
      <div class="col-md-12 col-lg-8">
        <form
          class="add-portfolio-form"
          method="POST"
          action="{{url_for('insert_task')}}"
        >
          <div class="form-group">
            <label for="catagory_name">Select Investment Catagory</label>
            <select
              class="custom-select"
              id="catagory_name"
              name="catagory_name"
            >
              <option value="" selected>Choose your option</option>
              {% for cat in catagories %}
              <option value="{{cat.catagory_name}}"
                >{{cat.catagory_name}}</option
              >
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="task">Portfolio Name</label>
            <input
              id="task"
              type="text"
              class="form-control"
              name="task_name"
              required
            />
          </div>

          <div class="form-group">
            <label for="task_description">Portfolio Description</label>
            <textarea
              name="task_description"
              id="task_description"
              class="form-control"
            ></textarea>
          </div>

          <div class="form-group">
            <label for="is_urgent">Total Value &euro; </label>
            <input
              type="text"
              class="form-control"
              id="is_urgent"
              name="is_urgent"
              placeholder="Value"
              required
            />
          </div>

          <div class="form-group">
            <label for="due_date">Date</label>
            <input
              id="due_date"
              type="date"
              class="form-control"
              name="due_date"
            />
          </div>
          <button type="submit" class="btn btn-lg btn-success">Submit</button>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}
