{% extends "base.html" %}


{% block content %}    


<h3>Investment Portfolio</h3>


<ul class="collapsible">
	{% for catagory in catagories %}
    
	<li>
    
		<div class="collapsible-header">
                <a href="#" class="waves-effect waves-light btn task-btn">Done</a>
                <a href="{{url_for('edit_catagory', cat_id = catagory._id)}}" class="waves-effect waves-light btn task-btn blue">Edit </a>

            <div class="col s9">
                <strong>{{ catagory.catagory_name }}</strong>
            </div>
        
        
        
        </div>
	</li>
	{% endfor %}
</ul>

{% endblock %}