{% extends "base.html" %}


{% block content %}    


<h3>Tasks List</h3>


<ul class="collapsible">
	{% for task in tasks %}
    
	<li>
    
		<div class="collapsible-header">
            <div class="col s3">
                <i class="material-icons">expand_more</i>
                <a href="{{url_for('delete_task', task_id = task._id)}}" class="waves-effect waves-light btn task-btn">Done</a>
                <a href="{{url_for('edit_task', task_id = task._id)}}" class="waves-effect waves-light btn task-btn blue">Edit </a>
            </div>
            <div class="col s9">
                <strong>{{ task.task_name }}</strong> -- <em>{{task.due_date}}</em>
            </div>
        
        
        
        </div>
		<div class="collapsible-body"><span>{{ task.task_description }}</span></div>
		<p></p>
	</li>
	{% endfor %}
</ul>

{% endblock %}